.record {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: whitesmoke;
}
.en, .ru {
    display: table-cell;
    float: none;
    width: 50%;
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    text-indent: 2rem;
    text-align: justify;
}
.en {
    background-color: azure;
    padding-left: 2rem;
    padding-right: 1rem;
}
.ru {
    background-color: aliceblue;
    padding-left: 1rem;
    padding-right: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    padding-left: 2rem;
    text-indent: 0;
    text-align: left;
}
img {
    max-width: 100%;
}
